.dashboardComponentContainer {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    gap: 64px;
}

.currentWeatherSectionContainer {
    display: flex;
    flex-direction: column;
}

.currentWeatherSection {
    display: flex;
    gap: 16px;
    justify-content: space-around;
}

.currentLocationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.currentLocation {
    display: flex;
    padding: 10px;
}

.currentWeatherDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
}

.sunTimingContainer {
    display: flex;
    flex-direction: column;
}

.currentWeatherItems {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.airConditionsSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.airConditionsSection {
    display: flex;
    gap: 16px;
    justify-content: space-around;
}

.chartsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
    margin-top: 32px;
    padding: 0.5rem;
    width: 100%;
}

.todaysForecastChartContainer {
    width: 100%;
    height: 100%;
}

.weeklyForecastChartContainer {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .emptyContainer {
        font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  
    .emptyContainer {
        font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  
    .emptyContainer {
        font-size: 14px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .chartsContainer {
        align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    }
  }