.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
  padding-bottom: 2.3rem;
  background-image: linear-gradient(to bottom, #442399, #6339b1, #814fc9, #9e66e2, #bc7efb);
}

.sectionComponent {
  display: flex;
  width: 100%;
  padding: 1.5rem 4rem;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  background: transparent;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerComponent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid #dcdcdc;
}

.buttonText {
  margin-left: 5px;
}

.headerSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media only screen and (max-width: 767px) {
  .headerComponent {
    padding: 0.8rem;
  }

  .sectionComponent {
    padding: 1rem;
  }

  .headerComponent {
    width: auto;
  }

  .button {
    font-size: 12px;
  }

  .buttonText {
    display: none;
  }

  .buttonText2 {
    display: none;
  }
}

/* Tablet screens (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .sectionComponent,
  .headerComponent {
    padding: 1.5rem;
  }

  .button {
    font-size: 14px;
  }

  .buttonText {
    display: none;
  }
}

/* Desktop screens (1024px and above) */
@media only screen and (min-width: 1024px) {

  .sectionComponent,
  .headerComponent {
    padding: 2rem 4rem;
  }
}